@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column; /* Stack sections vertically */
    justify-content: flex-start;
    align-items: center;
    height: 100%; /* Hace que el body ocupe toda la pantalla */
}

header {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5px 0; /* Añade un poco de espacio alrededor del contenido */
}



/* Contenedor del video */
#video-container {
    position: relative;
    width: 70%vw;
    height: 50%h;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ajusta el video para que cubra todo el contenedor */
video {
    width: 70%;
    height: 50%;
    object-fit: contain;
    margin: 0 !important;
    padding: 0 !important;
    object-fit: cover;
    touch-action: manipulation; /* Evita zoom accidental en iOS */
    -webkit-user-select: none; /* Previene selección accidental en iOS */

}

#overlay-image img {
    padding-top: 2;
    width: 40px;
    height: 40px;
}
/* Contenedor de Zoom Web SDK */
#zmmtg-root {
    width: 70%;
    height: 50%; /* 60% de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
#join-meeting {
    margin: 40px;
    padding: 20px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}